.player-wrapper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .controller-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    button {
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
  }
  .song-details {
    display: flex;
    flex-direction: column;
    .song-name {
      font-size: 24px;
      font-weight: 400;
    }
    .song-albulm {
      font-size: 14px;
      margin-top: 5px;
      font-weight: 400;
    }
  }
  .seek {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;

    // styling the input
    .track {
      width: 80%;
      height: 7px;
      background: #ffcf55;
      overflow: hidden;
      position: relative;
    }
    .animate-track {
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transform: translateX(70%);
    }
    input {
      width: 80%;
      height: 3px;
      padding: 1rem 0rem;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
    }

    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: none;
      height: 16px;
      width: 16px;
    }
  }
}
