.song-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 50%;
  align-self: center;

  h4 {
    margin-left: 10px;
    text-align: center;
  }
  .drag-instruction-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
  }
}

.song-cover {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

@media screen and(max-width:500px) {
  .song-cover {
    width: 348px;
    height: 348px;
    margin-top: 30px;
  }
  .song-wrapper {
    .drag-instruction-div {
      display: none;
    }
  }
}
